<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
Name: <br>
<input name="name" type="text"><br>
Password: <br>
<input name="password" type="password"><br>
Email: <br>
<input name="email" type="email"><br>
<input type="submit" value="Sign Up">
</form>


